**/.koparde*
!.editorconfig
!.gitignore
!.gitattributes
site/
**/*.swp
**/test.*

*/._*
*/*/._*
*DS_Store
*RData
*Rhistory
.*Rmd

# ignore resources for deeptools
resources/*gencode*
tmp
x.sh
WIP
dryrun.log
POOL_CONTROLS_FEATURE.md
.snakemake
.vscode
dryrun_workdir
