# Project Information
site_name: CARLISLE
site_author: CCBR
site_description: >-
  **C**ut **A**nd **R**un ana**L**ys**IS** pipe**L**in**E**
# Repository
repo_name: CCBR/CARLISLE
repo_url: https://github.com/CCBR/CARLISLE
edit_uri: null

# Copyright
copyright: Copyright &copy; 2022-{{ now().year }} CCBR

# Configuration
theme:
  name: readthedocs
  locale: en
  custom_dir: docs/overrides
  #
# Plugins
plugins:
  - search
  - git-revision-date
  - minify:
      minify_html: true

# Customization
extra:
  social:
    - icon: fontawesome/solid/users
      link: http://bioinformatics.cancer.gov
    - icon: fontawesome/brands/github
      link: https://github.com/CCBR
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/orgs/nciccbr/repositories
  # version:
  #   provider: mike

extra_css:
  - css/custom.css
extra_javascript:
  - js/custom.js

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page Tree
nav:
  - Home: index.md
  - Usage:
      - 1. Getting Started: user-guide/getting-started.md
      - 2. Preparing Files: user-guide/preparing-files.md
      - 3. Running the Pipeline: user-guide/run.md
      - 4. Expected Output: user-guide/output.md
      - 5. Running Test Data: user-guide/test-info.md
  - FAQ:
      - Troubleshooting: user-guide/troubleshooting.md
      - Contributions: user-guide/contributions.md
