#####################################################################################
# Folders / Paths
#####################################################################################
# The working dir... output will be in the results subfolder of the workdir
workdir: "$WORKDIR"

# scripts directory
# by default, use the scripts copied to the working directory.
# alternatively, use the scripts from the pipeline source.
scriptsdir: "$WORKDIR/scripts"
#scriptsdir: "$PIPELINE_HOME/workflow/scripts"

# tab delimited samples file .. see samplefile for format details
samplemanifest: "$WORKDIR/config/samples.tsv"

#####################################################################################
# User parameters
#####################################################################################
# run sample contrasts
run_contrasts: true # true or false, no quotes
contrasts: "$WORKDIR/config/contrasts.tsv" # run_contrasts needs to be `true`
contrasts_fdr_cutoff: 0.05
contrasts_lfc_cutoff: 0.59 # FC of 1.5

# these steps are long-running. use `true` if you would like to run them
run_go_enrichment: false
run_rose: false

# reference
genome: "hg38" # currently supports hg38, hg19 and mm10. Custom genome can be added with appropriate additions to "reference" section below.

# alignment quality threshold
mapping_quality: 2 #only report alignment records with mapping quality of at least N (>= N).

# normalization method
## spikein: normalization will be performed based off of spike-in aligned read count;
## library: library normalization will be performed
## none: no norm will be performed
norm_method: "spikein" # method of normalization to be used; currently supports ["spikein","library","none"]
## if norm_method ="spikein"
spikein_genome: "ecoli" # must be species found in spikein_reference below
spikein_scale: 1000000

# user parameters for alignment
bowtie2_parameters: "--dovetail --phred33  --very-sensitive"
fragment_len_filter: "1000"

# duplication status
## users can select duplicated peaks (dedup) or non-deduplicated peaks (no_dedup)
### dupstatus: "dedup" # means run deduplicated analysis only
### dupstatus: "no_dedup" # means run non-deduplicated analysis only
## complete list:
### dupstatus: "dedup, no_dedup"
dupstatus: "dedup, no_dedup"

# which peaktypes to consider for differential analysis:
# | Peak Caller | Narrow              | Broad             | Normalized, Stringent | Normalized, Relaxed | Non-Normalized, Stringent | Non-Normalized, Relaxed |
# | Macs2       | AVAILABLE           | AVAILABLE         | NA                    | NA                  | NA                        | NA                      |
## macs2 options: macs2_narrow, macs2_broad
### NOTE: DESeq step generally fails for broadPeak; generally has too many calls.

# | Peak Caller | Narrow              | Broad             | Normalized, Stringent | Normalized, Relaxed   | Non-Normalized, Stringent| Non-Normalized, Relaxed |
# | SEACR       | NA                  | NA                | AVAILABLE w/o SPIKEIN | AVAILABLE w/o SPIKEIN | AVAILABLE w/ SPIKEIN     | AVAILABLE w/ SPIKEIN    |
## seacr options: seacr_stringent, seacr_relaxed

# | Peak Caller | Narrow              | Broad             | Normalized, Stringent | Normalized, Relaxed | Non-Normalized, Stringent | Non-Normalized, Relaxed |
# | GoPeaks     | AVAILABLE           | AVAILABLE         | NA                    | NA                  | NA                        | NA                      |
## gopeaks options: gopeaks_narrow, gopeaks_broad

# | Peak Caller | Narrow              | Broad             | Normalized, Stringent | Normalized, Relaxed   | Non-Normalized, Stringent | Non-Normalized, Relaxed |
# | Macs2       | AVAILABLE           | AVAILABLE         | NA                    | NA                    | NA                        | NA                      |
# | SEACR       | NA                  | NA                | AVAILABLE w/o SPIKEIN | AVAILABLE w/o SPIKEIN | AVAILABLE w/ SPIKEIN      | AVAILABLE w/ SPIKEIN    |
# | GoPeaks     | AVAILABLE           | AVAILABLE         | NA                    | NA                    | NA                        | NA                      |
## complete list:
### peaktype: "macs2_narrow, macs2_broad, seacr_stringent, seacr_relaxed, gopeaks_narrow, gopeaks_broad"
peaktype: "macs2_narrow, macs2_broad, seacr_stringent, seacr_relaxed, gopeaks_narrow, gopeaks_broad"

## macs2 additional option
### macs2 can be run with or without the control. adding a control will increase peak specificity
### default is "N"; selecting "Y" will run the paired control sample provided in the sample manifest
macs2_control: "N"

# qvalues
## thresholds to be used for peak callers
## must be a list of comma separated values. minimum of numeric value required.
### default MACS2 qvalue is 0.05 https://manpages.ubuntu.com/manpages/xenial/man1/macs2_callpeak.1.html
### default GOPEAKS qvalue is 0.05 https://github.com/maxsonBraunLab/gopeaks/blob/main/README.md; [link to issue]
### default SEACR FDR threshold 1 https://github.com/FredHutch/SEACR/blob/master/README.md
# quality_thresholds: "0.1, 0.05"
quality_thresholds: "0.05"

## MACS2, broad-peaks specific, quality threshold
### if broadPeak is selected as a 'peaktype', an additional quality threshold can be used
macs2_broad_peak_threshold: "0.01"

# annotations
## rose parameters
stitch_distance: 12500
tss_distance: 2500

## homer
motif_size: 1000
preparsedDir: "/data/CCBR_Pipeliner/db/PipeDB/homer/preparsedDir"

## GO Enrichment
## enrichment analysis can be performed on hg19 or hg38 samples
## one option may be chosen for each project
geneset_id: "GOBP" # ["GOBP" "GOCC" "GOMF" "KEGG"]

#####################################################################################
# References
# NOTE: "gtf" is only required if TxDb is not available for the species in
# Bioconductor eg. hs1
#####################################################################################
# references:
reference:
  hg38:
    fa: "/data/CCBR_Pipeliner/db/PipeDB/Indices/hg38_basic/hg38.fa"
    gtf: "/data/CCBR_Pipeliner/db/PipeDB/Indices/hg38_basic/genes.gtf"
    blacklist: "$PIPELINE_HOME/resources/blacklistbed/hg38.bed"
    regions: "chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY"
    macs2_g: "hs"
    tss_bed: "$PIPELINE_HOME/resources/tss_bed/hg38.tss.bed"
    rose: "$WORKDIR/annotation/hg38_refseq.ucsc"
  hg19:
    fa: "/data/CCBR_Pipeliner/db/PipeDB/Indices/hg19_basic/hg19.fa"
    gtf: "/data/CCBR_Pipeliner/db/PipeDB/Indices/hg19_basic/genes.gtf"
    blacklist: "$PIPELINE_HOME/resources/blacklistbed/hg19.bed"
    regions: "chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY"
    macs2_g: "hs"
    tss_bed: "$PIPELINE_HOME/resources/tss_bed/hg19.tss.bed"
    rose: "$WORKDIR/annotation/hg19_refseq.ucsc"
  mm10:
    fa: "/data/CCBR_Pipeliner/db/PipeDB/Indices/mm10_basic/mm10.fa"
    gtf: "/data/CCBR_Pipeliner/db/PipeDB/Indices/mm10_basic/genes.gtf"
    blacklist: "$PIPELINE_HOME/resources/blacklistbed/mm10.bed"
    regions: "chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chrX chrY"
    macs2_g: "mm"
    tss_bed: "$PIPELINE_HOME/resources/tss_bed/mm10.tss.bed"
    rose: "$WORKDIR/annotation/mm10_refseq.ucsc"
  hs1:
    fa: "/data/CCBR_Pipeliner/db/PipeDB/Indices/hs1/hs1.fa"
    gtf: "/data/CCBR_Pipeliner/db/PipeDB/Indices/hs1/genes.gtf"
    blacklist: "$PIPELINE_HOME/resources/blacklistbed/hs1.bed"
    tss_bed: "$PIPELINE_HOME/resources/tss_bed/hs1.tss.bed"
    regions: "chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY"
    macs2_g: "3.1e+8"
    rose: "$WORKDIR/annotation/hs1_refseq.ucsc"
# ref: https://deeptools.readthedocs.io/en/develop/content/feature/effectiveGenomeSize.html
# used faCount from http://hgdownload.soe.ucsc.edu/admin/exe/linux.x86_64/ to get 3.1e+8 value above

spikein_reference:
  ecoli:
    fa: "$PIPELINE_HOME/resources/spikein/Ecoli_GCF_000005845.2_ASM584v2_genomic.fna"
  drosophila:
    fa: "/fdb/igenomes/Drosophila_melanogaster/UCSC/dm6/Sequence/WholeGenomeFasta/genome.fa"
  saccharomyces:
    fa: "$PIPELINE_HOME/resources/spikein/S_cer_S288C_R64.fna"

adapters: "$PIPELINE_HOME/resources/other/adapters.fa"

ccbr_tools_path: "/data/CCBR_Pipeliner/Tools/ccbr_tools/v0.2/bin/"
#####################################################################################
# CONTAINERS
#####################################################################################
containers:
  base: "docker://nciccbr/ccbr_ubuntu_base_20.04:v6"
  carlisle_r: "docker://nciccbr/carlisle_r:v3"

# Pipeline information
pipeline: "CARLISLE"
version: "$PIPELINE_VERSION"
pipeline_home: "$PIPELINE_HOME"
