name: TechDev-project

on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        if: ${{ inputs.github-token == '' }}
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.CCBR_BOT_APP_ID }}
          private-key: ${{ secrets.CCBR_BOT_PRIVATE_KEY }}
          owner: CCBR

      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/CCBR/projects/17
          github-token: ${{ steps.generate-token.outputs.token }}
